*{
    margin: 0;
    padding:0;
}
.navbar{
    background-color: pink;
    width:50%;
    height:50%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px;
    margin-left: 270px;
}
.container{
    display: flex;
    flex-direction: row;
    gap:70px;
    margin: 50px;
    margin-left: 270px;
   
}
.container_box{
    background-color: black;
    width:200px;
    height: 250px;
    border-radius: 15px;
}
.container_title{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}
.container_title h1,h2{
    color:white;
}
.container_content{
    margin:10px;
    border:solid white 2px;
    margin-top: 20px;
    border-radius: 7px;
    padding: 10px;
}
.container_content p{
    color:white;
}